*,*::before,*::after {
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: $font1;
    background-color: $main-bg;

    display: grid;
    place-items: end center;

    @include desktop-up {
        height: 100vh;
    }
}

img {
    width: 100%;
    display: block;
    // adjust
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}